body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
   
    background-color: #f4f4f4;
}

header {
    text-align: center;
    position: fixed;
    
    width: 100%;  /* Ensures the header covers the entire width */
    background-color: #333;
    color: white;
    padding: 15px 0;
      
}

h1 {
    margin: 0;
}

#site-details {
    padding: 20px;
    background-color: #fff;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

#site-details h2 {
    text-align: center;
    color: #333;
}

#site-details table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#site-details table th, #site-details table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

#site-details table th {
    background-color: #f4f4f4;
}



.images-container {
    text-align: center;
    margin: 60px 0px 5px 0px;
   
    
}

.images-container img {
    
    height: 300px;
    width: 30%;
    margin: 10px 10px 0px;
    border-radius: 8px;
}

.description {
    text-align: center;
    margin: 15px 0;
    font-size: 1.1em;
    text-align: center;
}

#site-details button {
    padding: 10px 20px;
    background-color: darkcyan;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#site-details button:hover {
    background-color: lightseagreen;
}



#language {
    text-align: center;
    font-size: 17px;
    
}
    
#audio-guide {
    text-align: center; /* Centers horizontally */
  }
  
  audio {
    display: inline-block; /* Make sure the audio element behaves like an inline element */
  }
  
